body, p, ol, ul, td {
  font-size: 13px;
}

/*************************************** LAYOUT *********************************/

#left_panel {
  float: left;
  width: 30%;
  overflow: auto;
  margin: 10px;
  position: absolute;
}

#map_wrapper {
  width: 65%;
  float: right;
  overflow:hidden;  
  margin: 10px;
  height: 100%;
}

#map {
  width: 100%;
  min-height: 500px;
  height: 100%;
}

/* IE-specific hack */
* html #map {
  height: 600px;
}

#product_info.event {
  position: absolute;
  top: 1em;
  right: 1em;
  margin-right: 1em;
  text-align: right;
}

#made_by {
  font-size: 85%;
}

#version {
  font-size: 85%
}

/*************************************** MARKER INFO *********************************/


div.info {
  width: 250px;
}
div.info_id {
  float: left;
  width: 20%;
  font-size: 150%;
  margin-top: 1em;
}
div.info_name {
  width: 80%;
  float: right;
  font-weight: bold;
}
div.info_task {
  width: 80%;
  float: right;
}

.markerLabel {
  color: black;
  font-size: 8pt;
}
