.catControlButton {
  color: DarkBlue;
  font-weight: normal;
  font-size: 90%;
  margin: 2px;
  text-align: center;
  cursor: pointer;
  vertical-align: middle;
}

.mapCatControlButton {
}

.pageCatControlButton {
  border: 1px dotted black;
  padding: 2px 5px 2px 5px;
}

.catControlSelectedButton {
  color: black;
  font-weight: bold;
  cursor: default;
}

.catControlButton img {
  position: relative;
  top: 3px;
  right: -3px;
}