a.tooltip {
  position: relative;
  z-index: 24; 
  text-decoration: none;
}

a.tooltip img {
  border: none;
}

a.tooltip span.tooltip {
  display: none;
}

a.tooltip:hover span.tooltip { 
  display: block;
  position: absolute;
  top: 2em; 
  left: 2em; 
  width: 15em;
  
  border: 1px dotted black;
  font-weight: normal;
  color: black;
  background-color: silver; 
  text-align: center;
}